* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  
  
  
  .navbar {
    color: white;
    position: fixed !important;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0);
    min-height: 5rem;
    font-family: "popins-light";
    z-index: 5;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
  }
  
  .navbar .navbar-brand img {
    height: 2.5rem;
  }
  
  .navbar .search-form {
    display: none;
  }
  
  .navbar .search-form.show {
    display: flex;
    background: rgb(20, 20, 20);
    border-radius: 10px;
  }
  
  .navbar .search-form input {
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
  }
  
  .navbar .search-form button {
    border: none;
    background-color: #0056cf;
    color: white;
    border-radius: 10px;
    transform: translateX(20px);
  }
  
  .navbar .navbar-brand {
    width: 27%;
  }
  
  .navbar a {
    color: white;
    transition: 0.5s all ease;
  }
  
  .navbar .nav-link.active {
    color: #59aada;
    opacity: 1;
    font-weight: bold;
  }
  
  .navbar .navbar-collapse.show .nav-link {
    padding-block: 1em;
  }
  
  .navbar .navbar-collapse {
    transition: 0.5s all ease-in-out;
  }
  
  .navbar .navbar-collapse.show {
    padding: 2em 1em;
  }
  
  .navbar .navbar-toggler {
    padding: 0;
  }
  
  .navbar .search-toggle {
    padding: 0 1rem 0 0;
    background-color: transparent;
    color: #59aada;
    font-size: 1.5rem;
    border: none;
  }
  
  .navbar .shoping-bag {
    padding: 0 1em;
    font-size: 1.5rem;
    border-inline: 2px solid white;

    color: #59aada;
  }
  
  @media screen and (min-width: 1023px) {
    .navbar {
      color: white;
      position: fixed;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      min-height: 5rem;
      transition: 0.5s all ease;
    }
    .navbar .navbar-brand img {
      height: 3rem;
      width: 100%;
      object-fit: contain;
    }
  
    .navbar .navbar-collapse {
      max-width: 64%;
      padding-left:130px;
    }
  
    .navbar .search-form {
      display: none;
      width: 400px;
    }
  
    .navbar a {
      color: white;
    }
  
    .navbar .nav-link {
      display: block;
      margin: 0em 0.1em;
    }
  
    .navbar .navbar-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
    }
  
    .navbar .search-toggle {
      padding: 0 1em;
      background-color: transparent;
      border: none;
      border-inline: 2px solid white;
    }
  
    .navbar .search-form.show {
      position: absolute;
      top: 6rem;
      right: 30px;
      display: flex;
    }
  
  }
  
  
  
  /*//Nav new//*/
  
  
  .nav-menu{
     
      font-family: monospace;
  }
  .nav-menu ul {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px;
      justify-content: center;
  
  }
  .nav-menu ul li{
    position: relative;
    height: 60px;
    width: 60px;
    background-color: rgb(10, 11, 11);
    list-style: none;
    background-color: rgb(58, 56, 56);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #33393E, #2C3237);
    background-image: linear-gradient( #2C3237, #2C3237);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.182), inset 0px 4px 1px -1px #3A4044, inset 0px -3px 1px -1px #010001;
  
  }
  
  .nav-menu ul li:hover{
      width: 180px;
      box-shadow: 0 10px 25px rgba(0, 0, 0,);
  
  }
   .nav-menu ul li::before{
      content: '';
       inset: 0;
      position: absolute;
      border-radius: 60px;
      background: linear-gradient(45deg,var(--i),var(--j));
      opacity: 0;
      transition: .5s;
  }
  .nav-menu ul li:hover::before{
      opacity: 1;
  }
  .nav-menu ul li::after{
      content: '';
      position: absolute;
      top: 10px;
      width: 100%;
      height: 100%;
      border-radius: 60px;
      background: linear-gradient(45deg,var(--i),var(--j));
      transition: .5s;
      filter: blur(15px );
      z-index: -1;
      opacity: 0;
  }
  .menav-menunu ul li:hover::after{
      opacity: .5;
  }
  .nav-menu ul li ion-icon{
      color: rgb(217, 227, 227);
      font-size: 1.75rem;
      transition: .5s;
      transition-delay: .25s;
  }
  .nav-menu ul li:hover ion-icon{
      transform: scale(0);
      color: white;
      transition-delay: 0s;
  
  }
  .nav-menu ul li .title{
      color:rgb(255, 255, 255);
      font-size: .9em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      letter-spacing: 0.1em;
      transform: scale(0);
      transition: .5s;
      transition-delay: 0;
  
  
  }
  .nav-menu ul li span{
      position:absolute ;
  }
  .nav-menu ul li:hover .title{
    transform: scale(1);
    transition-delay: 0.25s;
    color: white !important;
  }menu ul li .title a{
    color: white !important;
  }
  .nav-menu ul li i{
    color: rgb(217, 227, 227);
    font-size: 1.65rem;
    transition: .5s;
    transition-delay: .25s;
  }
  .nav-menu ul li:hover i{
    transform: scale(0);
    color: white;
    transition-delay: 0s;
  
  }
  .fa-virus-covid:before {
    content: "\e4a8";
    color: #ea4343 !important;
}
.categories {
  align-items: center;
  justify-content: left !important;
  flex-wrap: wrap !important;
  padding: 0;
}

.pd .vanish{
  transition: 2s;
  display: none !important;
}
.categories a {
  background: none;
  border: none;
  padding: 0.5em 1em;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
}

.categories a:hover {
  background: #182336;
}
.categories a{
  position: relative;
  font-size:.8em !important;
  background-color: rgb(10, 11, 11);
  margin: 0 3px;
  list-style: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  transition: .5s;
  color: white;
  cursor: pointer;
  background-image: -webkit-linear-gradient( #33393E, #2C3237);
  background-image: linear-gradient( #2C3237, #2C3237);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.182), inset 0px 4px 1px -1px #3A4044, inset 0px -3px 1px -1px #010001;

}
