.footer {
    position: relative;
    z-index: 2;
  }
  
  .footer .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
    transform: scaleX(-1);
    filter: brightness(0.4);
  }
  
  .footer .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer .footer-row img {
    min-width: 250px;
    width: 20%;
  }
  
  .footer .footer-row p {
    color: white;
    text-align: center;
    font-family: "montserrat-light";
  }
  
  .footer .col-lg-8 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer .col-lg-8 div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 3em 4em;
    margin: 1em;
    border-radius: 1em;
  }
  
  .footer .col-lg-8 div h4 {
    color: #f7faff;
    font-family: "popins-bold";
    margin-bottom: 1em;
  }
  
  .footer .col-lg-8 div a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: "open-sans-regular";
    padding: 0.3em 0;
    transition: 0.5s all;
  }
  
  .footer .col-lg-8 div a:hover {
    opacity: 0.7;
  }
  
  .footer .col-lg-8 div span {
    margin-right: 0.5em;
  }
  
  .footer .col-lg-8 div p {
    text-align: left;
    font-family: "open-sans-regular";
    grid-template-columns: 1.5em auto;
  }
  
  .footer .logo-deck {
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline: 0;
    margin-top: 1em;
    height: 5rem;
  }
  
  .footer .logo-deck li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: .7em;
    height: 1.6em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    transition: 0.2s all ease-in;
  }
  
  .footer .logo-deck li a {
    color: black !important;
  }
  
  .footer .logo-deck li:hover {
    font-size: 1em;
  }
  
  .footer .logo-deck li:nth-child(1):hover {
    background: #0055ff;
  }
  
  .footer .logo-deck li:nth-child(2):hover {
    background: linear-gradient(
      to bottom left,
      #405de6,
      #5b51d8,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d,
      #f56040,
      #fcaf45,
      #ffdc80
    );
  }
  
  .footer .logo-deck li:nth-child(3):hover {
    background: #1da1f2;
  }
  
  .footer .logo-deck li:nth-child(4):hover {
    background: #0077b5;
  }
  
  .footer .copyright {
    color: white;
    font-family: "open-sans-regular";
    text-align: center;
  }
  @media (min-width:992px) {
    .footer .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: unset;
      }
    
      .footer .col-lg-8 {
        justify-content: space-around;
      }
    
      .footer .col-lg-8 div {
        width: 200px;
        background: transparent;
        backdrop-filter: none;
        padding: 0;
        margin: 0;
      }
    }
    
    .news-letter::before{
      filter: blur(8px);

      content: '';
      z-index: -20;
      position: absolute;
      height: 150px;
      background:linear-gradient(rgb(150, 6, 167),rgb(196, 11, 209)); 
      border-radius: 50%;
      width: 150px;
      transform: translate(-50px ,-80px);
  

    }
    .news-letter::after{
      filter: blur(6px);
      content: '';
      z-index: -20;
      position: absolute;
      height: 100px;
      background:linear-gradient(rgb(129, 34, 86),rgb(209, 11, 97)); 
      border-radius: 50%;
      width: 100px;
      transform: translate(350px ,100px);
  

    }
    .news-letter{
    border: 2px outset #fff5;
    border-radius: 0.7em;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    box-shadow: 0 2px 5px #0005;
    transition: .5s cubic-bezier(.42,.59,.49,1.29);
    
      background:linear-gradient(rgba(255, 255, 255, 0.178),rgba(255, 255, 255, 0.148))
    }
  