/* Store css */
@font-face {
    font-family: "gotham-book";
    src: url(./fonts/GothamBook.ttf);
  }
  
  @font-face {
    font-family: "gotham-bold";
    src: url(./fonts/GothamBold.ttf);
  }
  
  :root {
    --color-primary: #2bb3d5;
    --font-primary: "gotham-bold";
    --font-secondary: "gotham-book";
  }
  
  body {
    background-color: black !important;
    font-family: var(--font-secondary);
  }
  
  .container-fluid {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .row {
    padding-inline: 1em !important;
  }
  
  .bgtxt {
    position: absolute;
    font-size: 5rem;
    color: white;
    opacity: 0.15;
    font-family: var(--font-primary);
    z-index: -1;
  }
  
  
  .video {
    height: 100vh;
    padding: 0;
    position: relative;
  }
  
  
  
  .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .video .scroll-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3rem;
    width: 2rem;
    border: 3px solid white;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .video .scroll-down::before,
  .video .scroll-down::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 0.8rem;
    width: 0.8rem;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    animation: scroll-down 1s infinite;
  }
  
  .video .scroll-down::after {
    animation-delay: 0.3s;
  }
  
  .about {
    padding: 5rem 0;
  }
  
  .about .bgtxt {
    top: 0;
    left: 10%;
  }
  
  .about img {
    max-height: 700px;
    width: 100%;
    object-fit: contain;
  }
  
  .about .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about .col-md-6:last-child {
    align-items: center;
  }
  
  .about h3 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: bolder;
    color: white;
    margin-bottom: 0.75em;
  }
  
  .about h2 {
    font-size: 1.5rem;
    color: var(--color-primary);
  }
  
  .about p {
    color: white;
  }
  
  .about a {
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    background: var(--color-primary);
    width: fit-content;
  }
  
  .services {
    padding: 5rem 0;
  }
  
  .services .bgtxt {
    top: -1rem;
    left: 0%;
    width: 100%;
    text-align: center;
  }
  
  .services h2 {
    text-align: center;
    font-size: 1rem;
    color: var(--color-primary);
  }
  
  .services h3 {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: bolder;
    color: white;
    margin-bottom: 1em;
  }
  
  .services .card {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    aspect-ratio: 1;
    align-items: flex-start;
    justify-content: center;
    padding: 1em 2em;
    transition: 0.5s all ease-in-out;
    aspect-ratio: unset !important;
    min-height: 20rem;
    margin-block: 1em;
    backdrop-filter: blur(10px);
    box-shadow: inset 4px 4px 10px rgba(255, 255, 255, 0.1),
      inset -4px -4px 5px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.5);
      background: url("./assets/gls.jpg");
      border: 2px outset #fff5;
      border-radius: 0.7em;
      box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
      box-shadow: 0 2px 5px #0005;
      transition: .5s cubic-bezier(.42,.59,.49,1.29);
      border-radius: 10px;
  

  }
  
  .services .card:hover {
    border-color: var(--color-primary);
  }
  
  .services .card img {
    height: 2.5rem;
    margin-bottom: 1em;
  }
  
  .services .card h4 {
    color: var(--color-primary);
    margin-block: 0.5em;
  }
  
  .services .card p {
    color: white;
  }
  
  .reveal-toggler {
    display: none;
  }
  
  .hidden-text {
    display: none;
  }
  
  .reveal-btn {
    padding: 0.5em 2em;
    text-decoration: none;
    color: white;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
  }
  
  .reveal-btn:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  
  .video2 {
    position: relative;
    padding: 0 5rem;
  }
  
  .video2 #player-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 3rem;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    margin-left: auto;
  }
  
  .video2 #player-next {
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 3rem;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    margin-left: auto;
  }
  
  .video2 .pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .video2 .pagination .pag {
    background-color: white;
    opacity: 0.2;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 1em;
    transition: 0.5s all ease;
  }
  
  .video2 .pagination .pag.active {
    opacity: 1;
  }
  
  .video2 .container {
    position: relative;
  }
  
  .video2 h3 {
    text-align: center;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.756);
  }
  
  .video2 p {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem;
    margin: 0;
  }
  
  .robotics .bgtxt {
    top: -3rem;
    left: 0%;
    width: 100%;
    text-align: center;
  }
  
  .robotics h2 {
    color: var(--color-primary);
    font-size: 1.1rem;
    text-align: center;
  }
  
  .robotics h3 {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 2.5rem;
    color: white;
  }
  
  .robotics .row {
    padding: 3rem 0;
    min-height: 70vh;
    align-items: center;
  }
  
  .robotics .col-md-6 {
    padding: 1em 2em;
  }
  
  .robotics .image-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;
    gap: 1rem;
  }
  
  .robotics .img {
    position: relative;
    height: 14rem;
    padding: 1em;
  }
  
  .robotics .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    z-index: -1;
    transition: 0.5s all ease-in-out;
  }
  
  .robotics .img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.5s all;
  }
  
  .robotics .img:hover::before{
    transform: scale(0.7);
    box-shadow: -15px 0 20px #31aae7, 15px 0 20px #4b19e0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
  
  .robotics .img:hover img{
    transform: scale(1.3);
    
  }
  
  .robotics .image-deck .img:nth-child(2) {
    transition-delay: 0.2s !important;
  }
  
  .robotics .image-deck .img:nth-child(3) {
    transition-delay: 0.4s !important;
  }
  
  .robotics .image-deck .img:nth-child(4) {
    transition-delay: 0.6s !important;
  }
  
  .robotics img:nth-child(2) {
    transition-delay: 0.2s !important;
  }
  .robotics img:nth-child(3) {
    transition-delay: 0.4s !important;
  }
  .robotics img:nth-child(4) {
    transition-delay: 0.8s !important;
  }
  
  .robotics h4 {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-transform: uppercase;
  }
  
  .robotics p {
    color: white;
    padding: 0.5em 0;
    text-align: justify;
  }
  
  .robotics a:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  
  .news {
    padding: 5rem 0;
  }
  .news h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: bolder;
    color: white;
    margin-bottom: 1em;
  }
  .news .col{
    position: relative;
    margin:0 50px;
    padding: 0rem;
    

  }
  /* .news .col::before{
    filter: blur(7px);
    content: '';
    z-index: -200;
    position: absolute;
    height: 150px;
    background:linear-gradient(rgb(150, 6, 167),rgb(196, 11, 209)); 
    border-radius: 50%;
    width: 150px;
    transform: translate(250px ,-50px);

  }
  .news .col::after{
    filter: blur(5px);
    z-index: -200;

    content: '';
    position: absolute;
    background:linear-gradient(rgb(216, 45, 102),rgb(222, 39, 51)); 
    border-radius: 50%;
    height: 130px;
    width: 130px;
    transform: translate(-48px ,-85px);

  } */

  
  .news .card {
    background: url("./assets/glass2.jpg");
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    aspect-ratio: 1;
    padding: 1em;
    transition: 0.5s all ease-in-out;
    aspect-ratio: unset !important;
    min-height: 20rem;
    height: 100%;
    border: 2px outset #fff5;
    border-radius: 0.7em;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    box-shadow: 0 2px 5px #0005;
    transition: .5s cubic-bezier(.42,.59,.49,1.29);
    
      background:linear-gradient(rgba(255, 255, 255, 0.178),rgba(255, 255, 255, 0.148));
      background: url("./assets/gls.jpg");


  }
  
  .news .card:hover {
    border-color: var(--color-primary);
  }
  
  .news .card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 1em 0;
  }
  
  .news .card h4 {
    color: var(--color-primary);
    margin-block: 0.5em;
    font-size: 1.2rem;
  }
  
  .news .card p {
    color: white;
    min-height: 5.5rem;
  }
  
  .news .card a {
    text-decoration: none;
    color: var(--color-primary);
  }
  
  .contact {
    margin: 0;
    padding: 0;
    padding-top: 10rem;
    position: relative;
  }
  
  .contact::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100%;
    background-color: var(--color-primary);
    z-index: -1;
  }
  
  .contact .row {
    justify-content: right;
    align-items: center;
    position: relative;
    height: 30vh;
  }
  
  .contact img {
    position: absolute;
    bottom: 2rem;
    left: -2rem;
    height: 120%;
    width: auto;
  }
  
  .contact p {
    font-size: 3vw;
    font-family: var(--font-primary);
    color: white;
  }
  
  .contact .row .col-md-3 {
    display: flex;
    justify-content: center;
  }
  
  .contact a {
    padding: 0.5em 2em;
    color: var(--color-primary);
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .footer {
    padding: 4rem 0;
  }
  
  .footer .bgtxt {
    top: 0rem;
    right: -3rem;
  }
  
  .footer img {
    height: 3.5rem;
    margin-bottom: 1em;
  }
  
  .footer p {
    color: white;
    max-width: 27ch;
  }
  
  .footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin: 0.25em 0;
    color: white;
  }
  
  .footer .opacity a {
    color: white;
    opacity: .5;
    transition: 0.5s all;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    opacity: 1;
  }
  
  .footer .col-md-4:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer h4 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    color: white;
    margin: 0;
  }
  
  .footer input {
    margin: 1em 0;
    border-radius: 0;
    background: transparent;
    border-color: #ffffff50;
    padding: 0.5em 1em;
    width: 100%;
    color: white;
  }
  
  .footer button {
    padding: 0.5em 1em;
    background: var(--color-primary);
    border-radius: 0;
    color: white;
  }
  
  .footer h6 {
    color: #ffffff80;
    text-align: center;
  }
  
  .footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
  }
  
  .footer .social-media li {
    margin: 1em 0.5em 0;
  }
  
  #player {
    min-height: 80vh;
  }
  
  @media screen and (max-width: 769px) {
    .nav-link {
      margin-block: 0.5em;
    }
  
    .navbar-toggler {
      padding: 0;
    }
  
    .navbar-toggler:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  
    .video2 {
      padding: 0 2rem;
    }
  
    .video2 .player-controlls {
      padding: 1em;
    }
  
    .about img {
      margin-top: 4em;
    }
  
    .services .bgtxt {
      top: -6rem;
    }
  
    .news .col {
      margin: 1em 0;
    }
  
    .contact {
      padding-top: 15rem;
    }
  
    .contact img {
      top: -110%;
      left: 50%;
      transform: translateX(-50%);
      bottom: auto;
    }
  
    .contact p {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .footer .bgtxt {
      top: auto;
      bottom: 10rem;
      right: -6rem;
    }
  
    .footer .col-md-4 {
      margin: 1rem 0;
    }
  }
  
  @keyframes blimp {
    0% {
      opacity: 0.1;
    }
    10% {
      opacity: 0.11;
    }
    20% {
      opacity: 0.1;
    }
    30% {
      opacity: 0.13;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
  /* Scroll animation */
  
  .animate {
    transition: 1s all ease-in-out !important;
  }
  
  
  .card.animate {
    transition: 1s all ease-in-out;
  }
  
  .services .col:nth-child(2) .card {
    transition-delay: 0.3s !important;
  }
  
  .services .col:nth-child(3) .card {
    transition-delay: 0.6s !important;
  }
  
  .news .col:nth-child(2) .card {
    transition-delay: 0.3s !important;
  }
  
  .news .col:nth-child(3) .card {
    transition-delay: 0.6s !important;
  }
  
.main-body::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(111, 174, 245, 0.899), rgba(255, 255, 255, 0.919));
    z-index: -2;
}
.curve svg{
    transform: scale(-1);
    display: block;
}
.curve{
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -3;
}

.main-img{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    object-position: top;

}
.main-body{
    position: relative;
    overflow: hidden;
}
.glass-texts{
    color: aliceblue;
    font-size: 1rem;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px)!important;
    background-image: linear-gradient(90deg,hsla(0,0%,51%,.067),hsla(0,0%,46%,.145));
    border: 2px outset #dfc6c6!important;
    border-bottom: 2px solid #fff3;
    border-radius: 0.8em;
    box-shadow: 0 2px 6px #0001, 0 5px 15px #0005;
    box-shadow: 0 2px 5px #0005;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px;

}
.newsletter form{
    width: 80%;
}
.newsletter button{
    background-image: linear-gradient(45deg,#cc2b5e ,#753a88);
    padding: 10px 80px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    margin: 0 20px;
}
.newsletter .txt_field input {
    color: white;

}
 .newsletter .txt_field label{
    color: white;
}


.round{
  border-radius:0 0  15px  15px ;
}
.round2{
  border-radius: 15px 15px 0 0;
}


.carousel-indicators{
  display: none !important;
}



.reveal-btn {
  font-family: sans-serif;
  padding: 0.5em 1.5em;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.reveal-btn
{
  background-color: #ffffff ;
  border-radius: 40px;
  transition: 2s;
  overflow: hidden !important;
  line-height: 40px;
  width: 160px;
  text-align: center;
}
.reveal-btn:hover{
  background-color: #00072f ;

  color: #fff;
  box-shadow: -15px 0 20px rgba(255, 20, 152, 1) ,15px 0 20px rgba(122, 0, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, .5), 0 0 25px rgba(255, 255, 255, .5), 0 0 35px rgba(255, 255, 255, .5),;
}

.reveal-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 20, 152, 0);
  fill: blur(4px);
  transition: 1s;
  z-index: -1;
overflow: hidden;
}
.reveal-btn::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(122, 0, 255, 0);
  fill: blur(4px);
  transition: 1s;
  z-index: -1;
  mix-blend-mode: lighten;

}
.reveal-btn:hover::after{
  transform: scaleX(5);

}














